<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>דף הבית</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap" rel="stylesheet">
</head>
<body onclick="music.paused ? music.play() : music.pause()" style='padding: 0; margin: 0; background-color: #fedcc5; background-image: url("../static/Repeat Grid 1.png");background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; overflow:auto;'>
    <header style="padding-left: 12.7vw; padding-top: 3.33vh">
        <img src="../static/x-diamond-fill.png" style="width: 2.5vw;height: 2.5vw;min-width: 20px; min-height: 20px"/>
        <span style="margin-left:0.75vw;font-family: 'Averia Sans Libre', cursive; font-size: 3vw; color: #FF5F6D; max-font-size: 40em; cursor: default;">OWLCOME</span>
    </header>
    <aside style="padding-left: 12.7vw; padding-top: 12vh; width: 30%; float:left">
        <span style="font-family: 'Averia Sans Libre', cursive; font-size: 5vw; text-transform: uppercase; line-height: 5.5vw; cursor: default;">We make<br> your inner <br>owl </span>
        <span style="font-family: 'Averia Sans Libre', cursive; font-size: 5vw; color: #FF5F6D; text-transform: uppercase; line-height: 5.5vw; cursor: default;"> shine!</span>
        <br>
        <a href="../templates/צור קשר.html">
            <button style="margin-top:6vh; background: white; border: none; cursor: pointer;outline: inherit; height: 11.2vh; width:28.365vw; border-radius: 5vw; box-shadow: 0px 3px 6px rgba(124, 28, 36, 0.16);">
                <span style="text-decoration: none; text-transform: uppercase; font-family: 'Averia Sans Libre', cursive; color: #FF5F6D; font-size: 2vw;">Connect With Us</span>
            </button>
        </a>
    </aside>
    <figure style="float:right; margin: 0 7.5vw 0 0">
        <img src="../static/owly.png" style="height: 80.76vh; width: 46vw;"/>
    </figure>
    <audio autoplay hidden controls loop id="music">
        <source src="../static/zenMusic.mp3" type="audio/mpeg">
    </audio>
</body>
</html>