<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>דף הבית</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styleZen.css">
</head>
<body onclick="music.paused ? music.play() : music.pause()" >
    <div class="grid-container home-grid">
        <header>
            <img class="logo" src="../static/x-diamond-fill.png"/>
            <h1 class="pinkWord logoText">OWLCOME</h1>
        </header>
        <nav>
            <a href="../templates/דף הבית.html"><h3>Home</h3></a>
            <a href="../templates/צור קשר.html"><h3>Connect Us</h3></a>
        </nav>
        <aside>
            <span>We make<br> your inner <br>owl </span>
            <span class="pinkWord"> shine!</span>
            <br>
            <a href="../templates/צור קשר.html">
                <button>
                    <span>Connect Us</span>
                </button>
            </a>
        </aside>
        <figure >
            <img src="../static/owly.png" />
        </figure>
    </div>
</body>
</html>