<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>צור קשר</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Martel+Sans:wght@600&family=Ruluko&display=swap" rel="stylesheet">
</head>
<body style='padding: 0; margin: 0; background-color: #fedcc5; background-image: url("../static/Repeat Grid 1.png");background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; overflow:auto;'>
    <header style="padding-left: 12.7vw; padding-top: 3.33vh">
        <img src="../static/x-diamond-fill.png" style="width: 2.5vw;height: 2.5vw;min-width: 20px; min-height: 20px"/>
        <span style="margin-left:0.75vw;font-family: 'Averia Sans Libre', cursive; font-size: 3vw; color: #FF5F6D; max-font-size: 40em; cursor: default;">OWLCOME</span>
    </header>
    <article style="padding-left: 12.7vw; margin-top: 4vh">
        <h1 style="padding-right:12.7vw; margin: 0; font-family: 'Averia Sans Libre', cursive; font-size: 36px; cursor: default; ">Let’s connect through your inner owl</h1>
        <h2 style="padding-right:12.7vw; margin: 2vh 0 0 0 ; font-family: 'Ruluko', sans-serif; font-size: 24px; cursor: default;">Please tell us about yourself so that we can help you find your hidden inner owl. This information will help us guide you on your journey to discover your inner owl.</h2>
    </article>
    <article style="margin-top: 6vh ;padding-left: 12.7vw; padding-right:12.7vw;">
        <form action="דף%20הבית.html" method="POST" style=" font-family: 'Martel Sans', sans-serif; margin: 0 auto;position: relative;">
            <div style="display: inline-block;">
                <label for="fname">First name</label><br>
                <input type="text" id="fname" name="fname" style="display: block; border:2px solid #D9B1A3; font-size: 16px; height: 28px; padding-left: 6px; width: 33vw; border-radius: 10px; background-color:#FDF7F4">
            </div>
            <div style="display: inline-block ;float: right;">
                <label for="lname">Last name</label><br>
                <input type="text" id="lname" name="lname" style="display: block; border:2px solid #D9B1A3; font-size: 16px; height: 28px; padding-left: 6px; width: 33vw; border-radius: 10px; background-color:#FDF7F4">
            </div>
            <div style="display: inline-block; margin-top: 4vh">
                <label for="phone">Phone Number</label><br>
                <input type="tel" id="phone" name="phone" style="display: block; border:2px solid #D9B1A3; font-size: 16px; height: 28px; padding-left: 6px; width: 33vw; border-radius: 10px; background-color:#FDF7F4">
            </div>
            <div style="display: inline-block; float: right; margin-top: 4vh">
                <label for="birth">Birth Date</label><br>
                <input type="date" id="birth" name="birth" style="display: block; border:2px solid #D9B1A3; font-size: 16px; height: 28px; padding-left: 6px; width: 33vw; border-radius: 10px; background-color:#FDF7F4">
            </div>
            <div style="margin-top: 4vh; width: 100%">
                <label for="email" >Email Address</label><br>
                <input type="email" id="email" name="email" style="margin-bottom: 4vh; width: calc(100% - 10px); padding-left: 6px; display: block; border:2px solid #D9B1A3; font-size: 16px; height: 28px; border-radius: 10px; background-color:#FDF7F4">
                <label for="aboutyou">Please provide any information that will help us get to know you better</label><br>
                <textarea type="text" rows="10" id="aboutyou" name="aboutyou" style="resize: none; width: calc(100% - 10px); padding-left: 6px; display: block; border:2px solid #D9B1A3; font-size: 16px; height: 140px; border-radius: 10px; background-color:#FDF7F4"></textarea>
                <div style="margin-top: 4vh; justify-content: center;">
                    <input type="checkbox" id="agree" name="agree" style="vertical-align: middle; width: 28px; height: 28px; border-radius: 10px; background-color:#FDF7F4">
                    <label for="agree" style="vertical-align: middle;">Upon submitting this form, you are agreeing to all stages of your journey. </label>
                </div>
                <input type="submit" value="Realese you owl" style="color: #FF5F6D; font-size: 2vw; font-family: 'Averia Sans Libre', cursive; text-transform: uppercase; margin-top:4vh; margin-bottom:4vh; background: white; border: none; cursor: pointer;outline: inherit; height: 11.2vh; width:28.365vw; border-radius: 5vw; box-shadow: 0px 3px 6px rgba(124, 28, 36, 0.16);">
            </div>
        </form>
    </article>
</body>
</html>